*

## what i need to save
!.gitignore

!install.sh
!symlinks.sh

!.stowrc

!atuin/
!atuin/**/*

!posting/
!posting/**/*

!LICENSE

!README.md
!Brewfile

!aerospace/
!aerospace/**/*

!nushell/
!nushell/**/*

!starship/
!starship/**/*

!wezterm/
!wezterm/**/*

!zshrc/
!zshrc/**/*

!tmux/
!tmux/**/*
tmux/plugins/

!nv/
!nv/**/*

!nvchad/
!nvchad/**/*

!nvim/
!nvim/**/*

!nviml/
!nviml/**/*

!ghostty/
!ghostty/**/*

!wsl/
!wsl/**/*

!chezmoi.json.tmpl
!chezmoi/
!chezmoi/**/*

!lazygit/
!lazygit/**/*

!.oh-my-zsh/
!.oh-my-zsh/**/*

!yazi/
!yazi/**/*

!alacritty/
!alacritty/**/*

!kitty/
!kitty/**/*

!git/
!git/**/*

!.zshrc
!.tmux.conf

!scripts/
!scripts/**/*
