---
- name: Install dependencies
  become: true
  block:
    - name: Install system dependencies (Debian/Ubuntu)
      ansible.builtin.apt:
        name: "{{ linux_system_packages_debian }}"
        state: present
        update_cache: true
      when: ansible_facts['os_family'] == "Debian"

    - name: Install system dependencies (RedHat/Fedora)
      ansible.builtin.dnf:
        name: "{{ linux_system_packages_redhat }}"
        state: present
      when: ansible_facts['os_family'] == "RedHat"

- name: Homebrew
  block:
    - name: Check if Homebrew is installed (Linux)
      ansible.builtin.stat:
        path: /home/linuxbrew/.linuxbrew/bin/brew
      register: homebrew_linux

    - name: Install Homebrew (Linux)
      ansible.builtin.command: set -o pipefail && NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      changed_when: true
      when:
        - not (homebrew_linux.stat.exists | default(false))

    - name: Add Homebrew to .bashrc
      ansible.builtin.blockinfile:
        path: "{{ dotfiles_home }}/.bashrc"
        create: true
        mode: "0644"
        marker: "# {mark} ANSIBLE - Homebrew"
        block: eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

- name: Configure Linux base shell
  become: true
  block:
    - name: Get zsh path
      ansible.builtin.command:
        cmd: which zsh
      register: zsh_path
      changed_when: false
      environment:
        PATH: "{{ homebrew_bin }}:{{ ansible_facts['env']['PATH'] }}"

    - name: Ensure zsh is in /etc/shells
      ansible.builtin.lineinfile:
        path: /etc/shells
        line: "{{ zsh_path.stdout }}"
        state: present

    - name: Change default shell to zsh
      ansible.builtin.user:
        name: "{{ dotfiles_user }}"
        shell: "{{ zsh_path.stdout }}"
