<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ macos_keyboard_launch_agent_label }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/hidutil</string>
    <string>property</string>
    <string>--set</string>
    <string>{{ {"HIDKeyRepeat": macos_hid_repeat_interval_ns | int, "HIDInitialKeyRepeat": macos_hid_initial_repeat_delay_ns | int} | to_json }}</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
